body{
    background-image: url("../img/space2.jpg");    
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: auto;
}
#currentPosi{
    margin-bottom: 10px;
    font-size: 15px;
    color: azure;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

/* #memo{
    position: absolute;
    height: 18px;
    width: 78%;
    margin: auto;
    top: 25px;
    right: 55px;
    left: 0;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
/* button{
    position: absolute;
    height: 40px;
    width: 40px;
    margin: auto;
    top: 22px;
    right: 20px;
    cursor: pointer;
    background: azure;
    border: 0;
    border-radius: 10px;
    outline: none;  
    font-size:130%;
} */
#container{
    position: absolute;
    height: 800px;
    width: 600px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 50px;
}
.jumbotron{
    position: absolute;
    width: 90%;
    height: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 70px;
    font-size: 20px;
    color: azure;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

#myMap{
    position:absolute; 
    margin:auto; 
    bottom: 320px;
    right: 0;
    left: 0;
    width:90%; 
    height:350px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
#history{
    position:absolute;
    height: 35px;
    width: 95%;
    margin:auto;
    right: 0;
    left: 0;
    bottom: 165px;
    background-color: azure;
    border-radius: 10px;
}
#comment{
    position: absolute;
    margin: auto;
    left: 10px;
    top: 5px;
    font-size: 18px;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color:black
}
#mylist{
    position:absolute;
    height:28%;
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 5px;
    background-color: transparent; 
    overflow: auto;
    border-radius: 10px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
#mylistul{
    margin-right: 30px;
}
li{
    list-style-type: none;
}
a {
    font-weight:bold;
    text-decoration:none;
}
a:link {
    color: azure;
}
a:visited {
    color:#eff702;
}
a:hover {
    color:#ff00ae;
    text-decoration:underline;
}
a:active {
    color:#00ffa6;
}